body {
    padding-top: 6rem; /* Move down content because we have a fixed navbar that is 3.5rem tall */
}

.lessPadding {
  padding-top: 2rem;
}

.row {
    margin-bottom: 2rem;
}

.navbar { /*Changing the colour of the navbar #63a69f*/
    background-color: #17a2b8;
}

.noLink {
    color: #17a2b8;
    text-decoration:none;
}

.noLink:hover, .noLink:active, .noLink:visited {
    color: #17a2b8;
    text-decoration:none;
}